*,
::before,
::after {
    box-sizing: border-box;
}

.wrapper{
    width: 1200px;
    margin: 20px auto;
}
.slider-container{
    overflow: hidden;
    border: 5px solid #100000
}
.slider-track{
    display: flex;
    transition: .2s;
}

.slider-item{
    height: 500px;
    min-width: 300px;

}
.slider-buttons{
    text-align: center;
}